.sq, .ci1, .ci2 {
    width: 100px;
    height: 100px;
    position: absolute;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

.sq {
    top: 100px;
    left: 100px;
    transform: rotate(45deg);
    animation-name: rotateSquare;
}

.ci1 {
    border-radius: 50%;
    animation-name: circleAnimation1;
}

.ci2 {
    border-radius: 50%;
    animation-name: circleAnimation2;
}

@keyframes rotateSquare {
    0% { transform: rotate(45deg); }
    100% { transform: rotate(405deg); }
}

@keyframes circleAnimation1 {
    0%, 100% { top: 60.64px; left: 60.64px; background-color: red; }
    50% { top: 130.36px; left: 130.36px; }
}

@keyframes circleAnimation2 {
    0%, 100% { top: 135.36px; left: 64.64px; background-color: red; }
    50% { top: 64.64px; left: 135.36px; }
}
